<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>用户列表 - Nkuvr 后台管理系统</title>
    <meta name="author" content="yinqi">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web" id="userTableBody">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="fragment/_fragment::navbar"></aside>


        <!--头部信息-->
        <header th:replace="fragment/_fragment::sidebar"></header>


        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <form class="pull-right search-bar" id="search-form" method="get" action="#!" role="form">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <!-- 使用隐藏字段来保存当前选中的搜索类型 -->
                                            <input type="hidden" name="search_type" id="search-type" value="studentNumber">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                学号 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a tabindex="-1" href="javascript:void(0)" data-field="studentNumber">学号</a></li>
                                                <li><a tabindex="-1" href="javascript:void(0)" data-field="realName">姓名</a></li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control" name="keyword" placeholder="请输入">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">查询</button>
                                        </span>
                                    </div>
                                </form>

                                <div class="toolbar-btn-action">
                                    <a class="btn btn-primary m-r-5" href="/user/add"><i class="mdi mdi-plus"></i>
                                        新增</a>
                                    <a class="btn btn-success m-r-5" href="/user/doEdit"><i class="mdi mdi-check"></i> 启用</a>
                                    <a class="btn btn-warning m-r-5" href="/user/doEdit"><i
                                            class="mdi mdi-block-helper"></i>
                                        禁用</a>
                                    <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered" >
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="lyear-checkbox checkbox-primary">
                                                    <input type="checkbox" id="check-all" value="${user.id}"><span></span>
                                                </label>
                                            </th>
                                            <th>编号</th>
                                            <th>学号</th>
                                            <th>姓名</th>
                                            <th>性别</th>
                                            <th>状态</th>
                                            <th>备注</th>
                                            <th>创建时间</th>
                                            <th>更新时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <tr th:each="user : ${pageInfo.list}">
                                            <td>
                                                <label class="lyear-checkbox checkbox-primary">
                                                    <input type="checkbox" name="ids[]" value="1"><span></span>
                                                </label>
                                            </td>
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.studentNumber}"></td>
                                            <td th:text="${user.realName}"></td>
                                            <td th:text="${user.gender==0?'男':'女'}"></td>
                                            <td th:switch="${user.state}">
                                                <font th:case="0" class="text-success">正常</font>
                                                <font th:case="1" class="text-danger">禁用</font>
                                            </td>
                                            <td th:text="${user.remark=='0'?'管理员':'学生'}"></td>
                                            <td th:text="${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm')}"></td>
                                            <td th:text="${#dates.format(user.updateTime, 'yyyy-MM-dd HH:mm')}"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default"
                                                       th:href="@{'/user/edit/' + ${user.id}}" title="编辑"
                                                       data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                    <a class="btn btn-xs btn-default"
                                                       th:href="'javascript:doDelete('+ ${user.id} +')'" title="删除"
                                                       data-toggle="tooltip"><i
                                                            class="mdi mdi-window-close"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination">

                                    <p>当前第 [[${pageInfo.pageNum}]] 页 | 共 [[${pageInfo.pages}]] 页 | 一共
                                        [[${pageInfo.total}]] 条记录</p>

                                    <li th:class="${pageInfo.pageNum == 1 ? 'disabled' : ''}"><a
                                            th:href="@{'/user/list?page=' + ${pageInfo.pageNum - 1}}"><span>«</span></a>
                                    </li>

                                    <li th:each="i: ${pageInfo.navigatepageNums}"
                                        th:class="${pageInfo.pageNum == i} ? 'active' : ''"><a
                                            th:href="@{'/user/list?page=' + ${i}}"><span>[[ ${i} ]]</span></a></li>

                                    <li th:class="${pageInfo.pageNum == pageInfo.pages ? 'disabled' : ''}"><a
                                            th:href="@{'/user/list?page=' + ${pageInfo.pageNum + 1}}"><span>»</span></a>
                                    </li>


                                </ul>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>

    </div>
</div>

<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../../js/main.min.js"></script>
<script src="../../layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        $('.search-bar .dropdown-menu a').click(function () {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });
</script>
<script>
    function doDelete(id) {
        var currentUrl = window.location.href;
        var loadingIndex = null;
        layer.confirm("确认删除该用户吗？", {btn: ['确认', '取消']}, function () {
            $.ajax({
                type: "post",
                url: "/user/delete/" + id,
                data: {
                    "id": id
                },
                beforeSend: function () {
                    loadingIndex = layer.msg("处理中", {icon: 16});
                },
                success: function (result) {
                    layer.close(loadingIndex);
                    if (result.success) {
                        layer.msg("删除成功", {time: 1000, icon: 6});
                        window.location.href = currentUrl;
                    } else {
                        layer.msg("删除失败，请重新操作", {time: 1000, icon: 5, shift: 6});
                    }
                }
            });
        });
        return false;
    }

</script>
<script>
    $(document).ready(function() {
        // 处理下拉菜单项的点击事件
        $('.dropdown-menu li a').click(function() {
            var selectedType = $(this).attr('data-field'); // 获取选中的搜索类型
            var selectedText = $(this).text(); // 获取选中项的文本

            // 更新隐藏字段的值和按钮文本
            $('#search-type').val(selectedType);
            $('#search-btn').text(selectedText + ' ').append('<span class="caret"></span>');
        });

        // 监听查询表单的提交事件
        $('#search-form').submit(function(e) {
            e.preventDefault(); // 阻止表单默认提交行为

            var searchType = $("#search-type").val(); // 获取隐藏的搜索类型值
            var keyword = $("input[name='keyword']").val(); // 获取输入框的关键词

            // 使用AJAX向服务器发送查询请求
            $.ajax({
                type: "get",
                url: "/user/search", // 假设后端接受统一的/search端点处理搜索
                data: {
                    type: searchType, // 发送搜索类型和关键词
                    keyword: keyword
                },
                beforeSend: function() {
                    // 在发送请求之前显示加载提示
                    layer.msg("查询中", {icon: 16, time: 0});
                },
                success: function(html) {
                    // 请求成功时处理结果
                    // 请求成功时处理结果
                    $('#userTableBody').html(html); // 更新表格内容
                    layer.msg("查询成功", {time: 1000, icon: 6});
                },
                error: function(xhr, textStatus, errorThrown) {
                    // 请求失败时的处理
                    layer.msg("查询出错：" + textStatus, {time: 2000, icon: 5, shift: 6});
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        // 绑定启用按钮的点击事件
        $('#enable-users').click(function() {
            changeUserStatus(true); // true表示启用用户
        });

        // 绑定禁用按钮的点击事件
        $('#disable-users').click(function() {
            changeUserStatus(false); // false表示禁用用户
        });

        function changeUserStatus(enable) {
            var userIds = $('.user-checkbox:checked').map(function() {
                return $(this).val();
            }).get();

            if (userIds.length === 0) {
                layer.msg('请至少选择一个用户。', {time: 2000, icon: 5});
                return;
            }

            var action = enable ? '启用' : '禁用';

            layer.confirm(`您确定要${action}选中的用户吗？`, {btn: ['确认', '取消']}, function() {
                $.ajax({
                    url: '/user/doEdit', // 根据实际后端路由调整
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        userIds: userIds,
                        enable: enable
                    }),
                    success: function(result) {
                        if (result.success) {
                            layer.msg(`${action}成功`, {icon: 6});
                            // 刷新页面或更新列表以反映更改
                            window.location.href = "/user/list"
                        } else {
                            layer.msg(`${action}失败：${result.message}`, {icon: 5});
                        }
                    },
                    error: function(xhr, status, error) {
                        layer.msg('操作失败，请稍后重试。', {icon: 5});
                    }
                });
            });
        }
    });
</script>
</body>
</html>